
.first aside {
	float:right;
}

.second {
	position:relative;

}

 .second aside {
	position:absolute;
	top:205px;
	left:670px;
}

.third aside {
	position:fixed;
	top:0px;
	right:0px;
	background-color:green;
}

 #red {
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	background-color:red;
	z-index:2;
}

#black {
	position:absolute;
	left:41%;
	transform:translateX(-10px);
	transform:translateY(10px);
	background-color:black;

}



