
h1 {
	text-transform:uppercase;
	font-size:70px;
	color:#d32c0e;
	letter-spacing:4px;
	padding-left:50px;
	
}

h2 {
	text-transform:uppercase;
	font-size:35px;
	letter-spacing:1px;
	margin:0px;
}


body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:20px;
	color:#1f3163;
	margin-left:200px;
	padding-right:180px;


}

ul {
	list-style-type: none;
	margin: 0;
    padding: 0;

}


ul li a {
    list-style-type: none;
    line-height:2rem;
    margin: 0;
    padding: 0;
    text-decoration:none;
	color:#d8aa11;
}

li a:hover {
	border-bottom:2px solid #d32c0e;

}

.footer a {
	color:#d32c0e;

}

.footer .column{
	margin-top:30px;
	padding-left:50px;
	display:inline-block;
	vertical-align:top;
	font-size:15px;
	color:#d32c0e;
}


div .hidden {
	display:none;
}

div .hidden3 {
	display:none;
}

.intro-section {
	margin-top:100px;
}

.fixed-nav {
	position:fixed;
	left:2rem;
	top:3rem;
	text-decoration:none;
	color:#d8aa11;


}

.row {
	display:flex;
	padding-left:50px;
}

.column {
	flex:1;
	margin:1.5rem;
	
}

img {

	max-width:100%;

}

.quote {
	font-family:'Roboto Condensed', sans-serif;
	font-weight:bolder;
	font-size:35px;
	max-width:15em;
	margin-top:30px;

}

.image1 {

	width:100%;
	margin-left:50px;
}

.date {
	font-family:'copperplate', serif;
	color:#d32c0e;
	font-size:25px;
}


.paragraph {
	padding-right:180px;

}



@media (max-width: 1300px ) {

	body {
		font-family: 'Roboto Condensed', sans-serif;
		font-size:18px;
		color:#1f3163;
		margin-left:200px;
		padding-right:100px;


	} 

	.quote {
		font-size:26px;

	}

	.column {
		margin:1rem;

	}

	h2 {
		font-size:25px;
	}

}

@media (max-width: 1000px) {

	ul {
	display:none;
	list-style-type: none;
	margin: 0;
    padding: 0;

}

	body {
		font-family: 'Roboto Condensed', sans-serif;
		font-size:15px;
		color:#1f3163;
		padding-right:0px;
		margin:auto;

	}

	h1 {
		text-transform:uppercase;
		font-size:45px;
		color:#d32c0e;
		letter-spacing:2px;

	}

	h2 {
		text-transform:uppercase;
		font-size:35px;
		letter-spacing:1px;
		margin:0px;
	}


	div .hidden {
	display:block;
	}

	div .hidden2 {
	display:none;
	}

	div .hidden4 {
	display:none;
	}

	div .hidden3 {
	display:block;
	}
	
	.intro-section{
		margin-bottom:100px;
	}
	
	.keyfiguressection {
		margin-bottom:100px;
	}

	.premovementsection {
		margin-bottom:100px;

	}


	.footer a {
	color:#d32c0e;

	}

	.footer .column{
	
	margin-top:30px;
	padding-left:0px;
	display:inline-block;
	vertical-align:top;
	font-size:13px;
	color:#d32c0e;
	}

	.image1 {

	width:100%;
	margin:0;
	}


	.row {
		display:block;
		padding-left:0px;
	
	}

	.column {
		width:auto;

	}

	.paragraph {
		padding-right:30px;

	}

	.quote {
		font-family:'Roboto Condensed', sans-serif;
		font-weight:bolder;
		font-size:25px;
		max-width:28em;
		margin-top:30px;

		}


}

@media (max-width: 800px) {

	body {
		font-family: 'Roboto Condensed', sans-serif;
		font-size:15px;
		color:#1f3163;
		margin:auto;
		padding-right:0px;

	}


	h1 {
		text-transform:uppercase;
		font-size:45px;
		color:#d32c0e;
		letter-spacing:2px;

	}

	h2 {
		text-transform:uppercase;
		font-size:25px;
		letter-spacing:1px;
		margin:0px;
	}

	.image1 {
		width:100%;
		margin:0;
	}

	.row {
		display:block;
		width:100%;
		padding-left:0px;
	}

	.column {
		width:auto;

	}

	.paragraph {
		padding-right:10px;

	}

	.quote {
		font-family:'Roboto Condensed', sans-serif;
		font-weight:bolder;
		font-size:20px;
		max-width:22em;
		margin-top:30px;

		}


}

@media (max-width: 500px) {

	h1 {
		text-transform:uppercase;
		font-size:35px;
		color:#d32c0e;
		letter-spacing:2px;

	}
	

	.footer a {
	color:#d32c0e;

	}

	.footer .column{
	
	margin-top:0px;
	padding-left:0px;
	display:block;
	font-size:11px;
	color:#d32c0e;
	}
}

























