body {

	margin-top:100px;
	margin-bottom:100px;
	text-align: center;
	line-height: 1.8;
	background-color: #EFE0D0;
	color:#C15050;



 }

 h1 { 

 	font-size: 100px;
 	padding-top: 50px;
 	padding-bottom:0px;
 	margin-bottom:0px;
 	font-family: 'Playfair Display SC';
 	letter-spacing:20px;


 }

 h2 { 

 	font-size: 35px;
 	padding-top:0px;
 	padding-bottom: 2px;
 	margin-top:0px;
 	margin-bottom: 150px;
 	font-family:'Playfair Display SC';
 	letter-spacing: 6px;


 }

 h3
 {
 	color:#A93737;
 	line-height: 1.0;
 	font-size:20px;
 	font-family:'Playfair Display SC';
 	letter-spacing:2px;



 }

 p 
 {
 margin-top: 0px;
 font-size:20px;
 font-family:'Karla';






 }








