html {

	height:100%;
}

a {
        display: block; 
        position: fixed; 
        top: 0; 
        bottom: 0;  
        left: 0;  
        right: 0;  
        z-index: 100; 
}

body {
	font-family: 'Raleway', sans-serif;
	background-image:url("../images/Chandler3.jpg");
	background-size:cover;
	background-position:center top;
	background-repeat:no-repeat;
	height:100%;
}


.quote {
	font-size:45px;
	font-weight:bolder;
	color:white;
	position:absolute;
	left:100px;
	top:40px;
	margin-right:500px;
}

.person {

	font-size:30px;
	font-style:italic;
	color:white;
	position:absolute;
	left:100px;
	top:200px;
}


	@media (max-width: 1148px ) {

		.quote {
		font-size:40px;
	
	}

		.person {
		position:absolute;
		left:100px;
		top:200px;
	}
}

	@media (max-width: 950px ) {


		.quote {
		font-size:30px;'
		position:absolute;
		left:50px;
		top:80px;
		margin-right:400px;
	
	}

		.person {
		font-size:20px;
		position:absolute;
		left:50px;
		top:200px;
	}

	}

@media (max-width: 720px ) {



		.quote {
		font-size:30px;
		font-weight:bolder;
		color:white;
		position:absolute;
		left:60px;
		top:50px;
		margin-right:200px;
	
	}

		.person {
		font-size:20px;
		color:white;
		position:absolute;
		left:60px;
		top:190px;
	}

}

@media (max-width: 530px ) {

	.quote {
		font-size:25px;
		font-weight:bolder;
		color:white;
		position:absolute;
		left:60px;
		top:50px;
		margin-right:100px;
	
	}

	.person {
		font-size:18px;
		color:white;
		position:absolute;
		left:60px;
		top:170px;
	}


}

@media (max-width: 375px ) {

	.quote {
		font-size:25px;
		font-weight:bolder;
		color:black;
		position:absolute;
		left:45px;
		top:450px;
		margin-right:80px;
	
	}

	.person {
		font-size:20px;
		font-weight:bold;
		color:black;
		position:absolute;
		left:45px;
		top:550px;
	}

}

@media (max-width: 345px ) {

	.quote {
		font-size:25px;
		font-weight:bolder;
		color:black;
		position:absolute;
		left:45px;
		top:350px;
		margin-right:80px;
	
	}


	.person {
		font-size:20px;
		font-weight:bold;
		color:black;
		position:absolute;
		left:45px;
		top:480px;
	}


}



















